.header__button {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  padding: 17px 32px;
  background-color: black;
  border-radius: 77px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color .2s linear;
}

.header__button:hover {
  background-color: #46F4DB;
  color: black;
}